body{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 2rem auto;
    background-color:#5C5C2C;

}
nav{
    font-size: 30px;
    grid-column: 2/4;
    justify-self: end;
    
    
}

header{
    grid-column: 1/4;
    padding-top: auto;
}

footer{
    grid-column: 1/4;
}

h1{
    color: #E1E1B0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 70px;
    
    
}

li{
    color:#E1E1B0;
    display: inline;
    border-width: 2px;
    border-color: #E1E1B0;
    
}



.mainportrait{
    grid-column: 1/4;
    border-style: solid;
    border-width: 2px;
    border-color:#E1E1B0;
    align-items: left;

    
}

figcaption{
    color:#E1E1B0;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

p{
    color:#E1E1B0;
    font-family: 'Montserrat' sans-serif;
    font-size: x-large;
    
}

a{
    color:#E1E1B0;
    text-decoration: underline;
}


